{% comment %}
  Les deux bornes de date, communes aux listes missions, carburant et
  entretiens. Les valeurs saisies sont réaffichées ({{ debut }}, {{ fin }},
  préparées par _contexte_periode dans les vues) : un formulaire de filtre qui
  se vide après envoi oblige à tout resaisir pour corriger une seule borne.
{% endcomment %}
<div>
  <label class="ff-etiquette" for="debut">Du</label>
  <input type="date" id="debut" name="debut" value="{{ debut }}" class="form-control">
</div>
<div>
  <label class="ff-etiquette" for="fin">Au</label>
  <input type="date" id="fin" name="fin" value="{{ fin }}" class="form-control">
</div>
