{% extends "fleet/saisie_base.html" %}
{% load humanize %}

{% block avant %}
<div class="ff-carte mb-3">
  <div class="ff-carte__entete">
    <h2 class="ff-carte__titre">Mission à clôturer</h2>
  </div>
  <div class="ff-carte__corps">
    <dl class="ff-donnees">
      <div class="ff-donnees__ligne">
        <dt class="ff-donnees__cle">Trajet</dt>
        <dd class="ff-donnees__valeur">
          {{ mission.depart }} → {{ mission.destination }}
        </dd>
      </div>
      <div class="ff-donnees__ligne">
        <dt class="ff-donnees__cle">Camion</dt>
        <dd class="ff-donnees__valeur">
          <a class="ff-chiffre" href="{{ mission.vehicule.get_absolute_url }}">
            {{ mission.vehicule.immatriculation }}
          </a>
        </dd>
      </div>
      <div class="ff-donnees__ligne">
        <dt class="ff-donnees__cle">Chauffeur</dt>
        <dd class="ff-donnees__valeur">
          <a href="{{ mission.chauffeur.get_absolute_url }}">{{ mission.chauffeur.nom }}</a>
        </dd>
      </div>
      <div class="ff-donnees__ligne">
        <dt class="ff-donnees__cle">Départ</dt>
        <dd class="ff-donnees__valeur">
          le <span class="ff-chiffre">{{ mission.date_depart|date:"d/m/Y" }}</span>,
          à <span class="ff-chiffre">{{ mission.km_depart|intcomma }} km</span>
        </dd>
      </div>
      <div class="ff-donnees__ligne">
        <dt class="ff-donnees__cle">Statut</dt>
        <dd class="ff-donnees__valeur">{{ mission.get_statut_display }}</dd>
      </div>
    </dl>
  </div>
</div>
{% endblock %}

{% block intro %}
<p class="ff-champ__aide mb-3">
  Le kilométrage d'arrivée doit dépasser celui du départ
  ({{ mission.km_depart|intcomma }} km). Il mettra à jour le compteur du camion.
</p>
{% endblock %}

{% block retour %}{% url 'fleet:mission_liste' %}{% endblock %}
